{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie > 8"]
        }
      }
    ],
    "@babel/preset-react",
    "react",
    "stage-0"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "syntax-dynamic-import",
    "add-module-exports",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
